#mainPane {
    -fx-background-color: #FFF;
}

#header {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 0);
}

#header #timeSpan {
    -fx-background-color: #cf6a87;
    -fx-padding: 5px 0 5px 0;
}

#header #timeSpan .label {
    -fx-text-fill:#FFF;
}

.choice-box {
    -fx-background-color: #cf6a87;
    -fx-border-radius: 12px;
}

.choice-box .label {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.choice-box .menu-item .label {
    -fx-text-fill: #000;
}

#pathLabel {
    -fx-background-color: #cf6a87;
    -fx-text-fill: #FFF;
    -fx-border-radius: 12px;
}

.button {
    -fx-background-color: #FFF;
    -fx-border-color: #cf6a87;
    -fx-cursor: hand;
    -fx-border-radius: 2px;
    -fx-text-alignment: center;
    -fx-text-fill: #cf6a87;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #cf6a87;
    -fx-text-fill: #FFF;
    -fx-border-radius: 12px !important;
}